// Specific CSS for your home-page

.delete {
  margin-left: 75px;
}

.dose {
  margin-top: 10px;
}

.dose_bottom {
  margin-top: 15px;
}

.top {
  padding-right: 123px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header {
  margin-right: 550px;
}
