// Specific CSS for your home-page

// .delete {
//   margin-left: 75px;
// }

.dose {
  margin-top: 10px;
}

.dose_bottom {
  margin-top: 38px;
}

.top {
  // padding-right: 218px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  margin-bottom: 20px;
}

.show_header {
  padding-left: 30px;
}

.thumb {
  text-align: center;
}

.showpic {
  margin-bottom: 20px;
  padding-left: 25px;
}

#header {
  margin-bottom: 25px;
}
